html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}
nav,
footer,
main {
  font-family: "Poppins";
}

.title-banner{
  font-weight: 700;
  font-family: "Poppins";
}
.text-about{
  text-align: justify;
}